<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOS Tag</title>
</head>

<body>
  <main>
    <h1>Fiche médicale</h1>

    <section>
      <div id="name"><%= name %></div>
      <div><%= dob %></div>
    </section>

    <hr/>

    <section>
      <% contacts.forEach((contact) => { %>
        <div class="contact">
          <div class="contact-name">
            <%= contact.name %> (<%= contact.role %>)
          </div>
          <div class="contact-content">
            <%= contact.content %>
          </div>
        </div>
      <% }) %>
    </section>

    <hr/>

    <section>
      <% blocks.forEach((block) => { %>
        <div>
          <div class="block-name">
            <%= block.name %>
          </div>
          <div class="block-content">
            <%= block.content %>
          </div>
        </div>
      <% }) %>
    </section>
  </main>
</body>

<style>
  body {
    background-color: #eee;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #333;
  }

  main {
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    max-width: 600px;
  }

  section {
    margin: 1.2rem auto;
  }

  hr {
    border: solid 1px #0003;
  }

  #name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .block-name {
    font-size: 0.9rem;
    color: #777;
  }

  .block-content {
    margin-bottom: 1rem;
  }

  .contact {
    margin: 0.5rem auto;
  }

  .contact-name {
    font-size: 0.9rem;
    color: #EC3E55;
  }
</style>

</html>
