<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOS Tag</title>
</head>

<body>
  <h1><%= firstname %> <%= lastname %></h1>
  <p>dernière mise à jour <%= updatedAt %></p>

    <% if (sex) { %> 
    <fieldset>
      <legend>Sexe</legend>
        <label><%= sex %></label>
    </fieldset>
    <% } %>

    <% if (birthday) { %> 
    <fieldset>
      <legend>Date de naissance</legend>
        <label><%= birthday %></label>
    </fieldset>
    <% } %>

    <% if (height) { %> 
    <fieldset>
      <legend>Taille (cm)</legend>
        <label><%= height %></label>
    </fieldset>
    <% } %>

    <% if (weight) { %> 
    <fieldset>
      <legend>Poids (kg)</legend>
        <label><%= weight %></label>
    </fieldset>
    <% } %>

    <% if (bloodGroup) { %> 
    <fieldset>
      <legend>Groupe sanguin</legend>
        <label><%= bloodGroup %></label>
    </fieldset>
    <% } %>

    <% if (smoking) { %> 
    <fieldset>
      <legend>Fumeur·euse</legend>
        <label><%= smoking %></label>
    </fieldset>
    <% } %>

    <% if (organsDonation) { %> 
    <fieldset>
      <legend>Don d'organe</legend>
        <label><%= organsDonation %></label>
    </fieldset>
    <% } %>

    <% if (drugAllergies.length > 0) { %> 
    <fieldset>
      <legend>Allergie(s) médicamenteuse(s)</legend>
      <% for (let allergy in drugAllergies) {%>
        <label><%= allergy %></label>
      <%}%>
    </fieldset>
    <% } %>

    <% if (antecedents.length > 0) { %> 
    <fieldset>
      <legend>Antécédents</legend>
      <% for (let antecedent in antecedents) {%>
        <label><%= antecedent %></label>
      <%}%>
    </fieldset>
    <% } %>

    <% if (currentTreatment.length > 0) { %> 
    <fieldset>
      <legend>Traitements en cours</legend>
      <% for (let treatment in currentTreatment) {%>
        <label><%= treatment %></label>
      <%}%>
    </fieldset>
    <% } %>

    <% if (utdVaccines) { %> 
    <fieldset>
      <legend>Vaccins à jour</legend>
        <label><%= utdVaccins %></label>
    </fieldset>
    <% } %>

    <% if (diabetes) { %> 
    <fieldset>
      <legend>Diabète</legend>
        <label><%= diabetes %></label>
    </fieldset>
    <% } %>

    <% if (haemophilia) { %> 
    <fieldset>
      <legend>Hémophilie</legend>
        <label><%= haemophilia %></label>
    </fieldset>
    <% } %>

    <% if (epilepsy) { %> 
    <fieldset>
      <legend>Épilespie</legend>
        <label><%= epilepsy %></label>
    </fieldset>
    <% } %>

    <% if (pacemaker) { %> 
    <fieldset>
      <legend>Port d'un pacemaker</legend>
        <label><%= pacemaker %></label>
    </fieldset>
    <% } %>

</body>

<style>
  body {
    background-color: #eee;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #333;
  }

  section {
    margin-bottom: 1.5rem;
  }

  div {
    margin-bottom: 0.2rem;
  }

  #name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  details {
    border: solid 1px #888;
  }
</style>

</html>
